@import "open-props/style";
@import "open-props/normalize";
@import "open-props/buttons";


.slide-up-fade-in {
  animation: var(--animation-fade-in) forwards, var(--animation-slide-in-up), var(--animation-fade-out) forwards, var(--animation-slide-out-down);
  animation-timing-function: var(--ease-elastic-in-out-3);
  animation-duration: 1s;
  animation-delay: 0s, 0s, 5s, 5s;
}

:where(html) {
  background-color: transparent;
}

:where(img) {
  display: inline;
}




